GKNavigationBarViewController-master/GKNavigationBarViewControllerDemo/GKNavigationBarViewControllerDemo.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
YYKit-master/Demo/YYKitDemo.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
